{% load static %}

<html>

<head>
  <title>추천</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/recommend.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css'%}">
</head>

<body>
  <div class="recommend_body">
    <div class="nav_body">
      <div class="nav_logo">
        <img src="{% static 'logo3.png' %}" style = "width: 100px; height: 100px;">
      </div>
      <div class="nav_container">
        <div class="nav_container_title_typo">
          장소
        </div>
        <div class="nav_container_bar"></div>
        <div class="nav_container_element_typo nav_container_element_typo_first nav_container_community_typo_point">
          추천
        </div>
        <div class="nav_container_element_typo">
          장소 찾기
        </div>
        <div class="nav_container_element_typo">
          여행 계획
        </div>
        <div class="nav_container_element_typo">
          즐겨찾기
        </div>
        <div class="nav_container_community_typo">
          커뮤니티
        </div>
      </div>
    </div>
    <div class="login_container">
      <div class="login_typo">
        로그인
      </div>
      <div class="login_typo">
        마이페이지
      </div>
    </div>
    <div class="recommend_container">
      <div class="recommend_container_title_typo">
        추천
      </div>
      <div class="recommend_container_sub_title_container">
        <div class="recommend_container_sub_title_typo">
          반려동물과 같이 가기 좋은 가평 펜션
        </div>
        <div class="recommend_container_sub_title_swiper">
          <img src="{% static 'recommend_Btn.png' %}" style = "width: 40px; height: 20px;">
        </div>
      </div>

      <!-- 카드 -->

      <div class="recommend_conatiner_card_container">
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starClicked.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
      </div>

      <div class="recommend_container_sub_title_container">
        <div class="recommend_container_sub_title_typo">
          후기 4.0이상인 반려동물 동반 가능 카페
        </div>
        <div class="recommend_container_sub_title_swiper">
          <img src="{% static 'recommend_Btn.png' %}" style = "width: 40px; height: 20px;">
        </div>
      </div>

      <div class="recommend_conatiner_card_container">
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
        <div class="recommend_conatiner_card_wrapper">
          <div class="recommend_container_card_img"></div>
          <div class="recommend_container_card_title_conatiner">
            <div class="recommend_container_card_title_typo">
              예시입니다 예시입니다
            </div>
            <div class="recommend_container_title_img">
              <img src="{% static 'recommend_starInactive.png' %}" style = "width: 20px; height: 20px;">
            </div>
          </div>
          <div class="recommend_container_card_description_typo">
            설명입니다 설명입니다
          </div>
        </div>
      </div>

      <div class="recommend_container_sub_title_typo">
        인기 지역 보기
      </div>
      
      <div class="recommend_container_popular_card_container">
        <div class="recommend_container_popular_card_wrapper">
          <div class="recommend_container_popular_card_img"></div>
          <div class="recommend_container_popular_card_typo">
            예시입니다
          </div>
        </div>
        <div class="recommend_container_popular_card_wrapper">
          <div class="recommend_container_popular_card_img"></div>
          <div class="recommend_container_popular_card_typo">
            예시입니다
          </div>
        </div>
        <div class="recommend_container_popular_card_wrapper">
          <div class="recommend_container_popular_card_img"></div>
          <div class="recommend_container_popular_card_typo">
            예시입니다
          </div>
        </div>
        <div class="recommend_container_popular_card_wrapper">
          <div class="recommend_container_popular_card_img"></div>
          <div class="recommend_container_popular_card_typo">
            예시입니다
          </div>
        </div>
        <div class="recommend_container_popular_card_wrapper">
          <div class="recommend_container_popular_card_img"></div>
          <div class="recommend_container_popular_card_typo">
            예시입니다
          </div>
        </div>
      </div>
      <div class="recommend_container_margin"></div>

    </div>
  </div>
</body>

</html>


<form action="/search">
  키워드: <input type="text" placeholder="검색" id="search-engine" name="key">
  <input type="submit" value="검색"></button>
</form>